<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> 
    <ion-title>英雄</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ion-toolbar>
            <ion-searchbar showCancelButton="focus" animated="true" ionInput=""></ion-searchbar>
        </ion-toolbar>
        <ion-item-divider></ion-item-divider>
        <ion-item *ngFor="let hero of heros"
            class="context" size="large" button lines="full">
            
            <ion-grid no-padding>
                <ion-row class="ion-justify-content-center">
                    <ion-col class="ion-align-self-center" size="auto">
                        <ion-avatar>
                            <ion-img [src]="['/assets/img/LOL/heros/' + hero['NAME'] + '.png']"></ion-img>
                        </ion-avatar>
                        <ion-label class="ion-text-center">{{hero['NAME']}}</ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-row class="ion-justify-content-start">
                            <ion-col size="auto" class="ion-no-padding">
                                <ion-chip>
                                    <ion-avatar>
                                        <ion-img [src]="'/assets/img/LOL/race/' + hero['RACE'] +'.png'"></ion-img>
                                    </ion-avatar>
                                    <ion-label>{{hero['RACE']}}</ion-label>
                                </ion-chip>
                            </ion-col>
                            <ion-col size="auto" class="ion-no-padding">
                                <ion-chip>
                                    <ion-avatar>
                                        <ion-img [src]="'/assets/img/LOL/effect/' + hero['PROFESSION'] +'.png'"></ion-img>
                                    </ion-avatar>
                                    <ion-label>{{hero['PROFESSION']}}</ion-label>
                                </ion-chip>
                            </ion-col>
                            <ion-col size="auto" class="ion-no-padding" *ngIf="(hero['SUB_PROFESSION'] && hero['SUB_PROFESSION']!=='')">
                                <ion-thumbnail slot="end">
                                    <ion-img [src]="['/assets/img/LOL/profession/' + hero['SUB_PROFESSION'] +'.png']"></ion-img>
                                </ion-thumbnail>
                                <ion-label>{{hero['SUB_PROFESSION']}}</ion-label>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>花費：{{hero['COST']}}</ion-label>
                            </ion-col>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>HP：{{hero['HP']}}</ion-label>
                            </ion-col>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>攻擊力：{{hero['ATTACK']}}</ion-label>
                            </ion-col>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>攻速：{{hero['ATTACK_SPEED']}}</ion-label>
                            </ion-col>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>攻擊範圍：{{hero['ATTACK_RANGE']}}</ion-label>
                            </ion-col>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>防禦：{{hero['ARMOR_DEFENSE']}}</ion-label>
                            </ion-col>
                            <ion-col size-xs="6" size-sm>
                                <ion-label>魔防：{{hero['MAGIC_DEFENSE']}}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>   
        </ion-item>
    </ion-list>
</ion-content>
