<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<!-- <ion-back-button routerLink="/" routerDirection="root" routerDirection="back"></ion-back-button> -->
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>建議牌組</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<ion-list>
		<ion-toolbar>
			<ion-searchbar showCancelButton="focus" animated="true" ionInput=""></ion-searchbar>
		</ion-toolbar>
		<ion-item-divider>
		<!-- <ion-list-header> -->
			
				<ion-label>
					<h2>版本：Patch 9.14</h2>
				</ion-label>
			
		<!-- </ion-list-header> -->
	</ion-item-divider>
		<ng-container *ngFor="let _recommendation of recommendation">
			<ion-item class="context" size="large" button lines="full" detail="true"
				(click)="showDetail(_recommendation);"
				[detailIcon]="(!_recommendation.isShowDetail)?'ios-arrow-forward':'ios-arrow-down'">
				<ion-avatar slot="start">
					<ion-img [src]="['/assets/icon/gold.png']"></ion-img>
				</ion-avatar>
				<ion-grid>
					<ion-row class="profession ion-justify-content-start">
						<ion-col size="auto" *ngFor="let effect of _recommendation['later_stage'].effect">
							<div>
								<ion-thumbnail slot="end">
									<ion-img [src]="'/assets/img/LOL/effect/' + effect['title'] +'.png'"></ion-img>
								</ion-thumbnail>
								<ion-label>{{effect['title']}}</ion-label>
								<ion-badge color="primary">{{effect['count']}}</ion-badge>
							</div>
						</ion-col>
					</ion-row>
					<ion-row class="hero ion-justify-content-start">
						<ion-col size="auto" *ngFor="let hero of _recommendation['later_stage'].heros">
							<div>
								<ion-thumbnail slot="end">
									<ion-img [src]="'/assets/img/LOL/heros/' + hero['name'] + '.png'"></ion-img>
								</ion-thumbnail>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item class="detail" [hidden]="!_recommendation.isShowDetail" lines="full">
				<span>
					<ion-label position="undefined">早期：</ion-label>
				</span>
				<ion-grid>
					<ion-row class="profession ion-justify-content-start">
						<ion-col size="auto" *ngFor="let effect of _recommendation['early_stage'].effect">
							<div>
								<ion-thumbnail slot="end">
									<ion-img [src]="'/assets/img/LOL/profession/' + effect['title'] +'.png'">
									</ion-img>
								</ion-thumbnail>
								<ion-label>{{effect['title']}}</ion-label>
								<ion-badge color="primary">{{effect['count']}}</ion-badge>
							</div>
						</ion-col>
					</ion-row>
					<ion-row class="hero ion-justify-content-start">
						<ion-col size="auto" *ngFor="let hero of _recommendation['early_stage'].heros">
							<div>
								<ion-thumbnail slot="end">
									<ion-img [src]="'/assets/img/LOL/heros/' + hero['name'] + '.png'"></ion-img>
								</ion-thumbnail>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
			<ion-item class="detail" [hidden]="!_recommendation.isShowDetail" lines="full">
				<span>
					<ion-label position="undefined">中期：</ion-label>
				</span>
				<ion-grid>
					<ion-row class="profession ion-justify-content-start">
						<ion-col size="auto" *ngFor="let effect of _recommendation['medium_stage'].effect">
							<div>
								<ion-thumbnail slot="end">
									<ion-img [src]="'/assets/img/LOL/profession/' + effect['title'] +'.png'">
									</ion-img>
								</ion-thumbnail>
								<ion-label>{{effect['title']}}</ion-label>
								<ion-badge color="primary">{{effect['count']}}</ion-badge>
							</div>
						</ion-col>
					</ion-row>
					<ion-row class="hero ion-justify-content-start">
						<ion-col size="auto" *ngFor="let hero of _recommendation['medium_stage'].heros">
							<div>
								<ion-thumbnail slot="end">
									<ion-img [src]="'/assets/img/LOL/heros/' + hero['name'] + '.png'"></ion-img>
								</ion-thumbnail>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
		</ng-container>
	</ion-list>
</ion-content>