ion-item-divider{
    border-top:1px solid #fafafa;
}
ion-list ion-item.context{
    --background: #fafafa;
    --border-color: #d9d9d9;
}
ion-list ion-item.detail{
    transition: all .3s;
}
ion-grid.profession{
    // --ion-grid-width: 10px;
}
ion-grid ion-row.profession ion-col{
    margin-right: 4px;
}
ion-grid ion-row.profession ion-col div{
    display: flex;
    align-items: center;
}
ion-grid ion-row.profession ion-col div ion-label{
    padding: 0 4px;
}
ion-grid ion-row.profession ion-thumbnail{
    --size: 24px;
}